<div class="row">
  <!-- Primera fila: dos cards -->
  <div class="col-lg-6 col-sm-4 col-6">
    <mat-card class="mat-mdc-card mdc-card bg-light-secondary cardWithShadow text-center">
      <mat-card-content class="mat-mdc-card-content">
        <h6 class="f-s-21 f-w-600 m-t-8 text-secondary"> $1 </h6>
        <img alt="users" width="40" class="rounded-circle" src="/assets/images/icon/moneda_1.png">
        <h6 class="f-s-16 f-w-600 m-t-8 text-secondary"> 96 </h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6 col-sm-4 col-6">
    <mat-card class="mat-mdc-card mdc-card bg-light-success cardWithShadow text-center">
      <mat-card-content class="mat-mdc-card-content">
        <h6 class="f-s-21 f-w-600 m-t-8 text-success"> $5 </h6>
        <img alt="users" width="40" class="rounded-circle" src="/assets/images/icon/billete_5.png">
        <h6 class="f-s-16 f-w-600 m-t-8 text-success"> 3,650 </h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mt-2">
  <!-- Segunda fila: otras dos cards -->
  <div class="col-lg-6 col-sm-4 col-6">
    <mat-card class="mat-mdc-card mdc-card bg-light-primary cardWithShadow text-center">
      <mat-card-content class="mat-mdc-card-content">
        <h6 class="f-s-21 f-w-600 m-t-8 text-primary"> $10 </h6>
        <img alt="users" width="40" class="rounded-circle" src="/assets/images/icon/billete_10.png">
        <h6 class="f-s-16 f-w-600 m-t-8 text-primary"> 356 </h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6 col-sm-4 col-6">
    <mat-card class="mat-mdc-card mdc-card bg-light-error cardWithShadow text-center">
      <mat-card-content class="mat-mdc-card-content">
        <h6 class="f-s-21 f-w-600 m-t-8 text-error"> $20 </h6>
        <img alt="users" width="40" class="rounded-circle" src="/assets/images/icon/billete_20.png">
        <h6 class="f-s-16 f-w-600 m-t-8 text-error"> 696 </h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
