<div class="row">
  <div class="col-lg-12">
    <app-banner></app-banner>
  </div>
</div>

<!-- Sección original -->
<div class="row">
  <div class="col-lg-9">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-3">
    <app-denomination-card></app-denomination-card>
  </div>
</div>

<!-- Tags Overview:  + Gráfico de Ventas -->
<div class="row">
  <div class="col-lg-4">
    <app-ultimo-deposito></app-ultimo-deposito>
  </div>
  <div class="col-lg-8">
    <app-tag-overview></app-tag-overview>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-canjes-mes></app-canjes-mes>
  </div>
  <div class="col-lg-8">
    <app-transactions-performance></app-transactions-performance>
  </div>
</div>
