<div class="bg-light-primary rounded p-y-20 p-x-24 m-b-30 overflow-hidden cardWithShadow ng-star-inserted">
    <div class="row">
        <div class="col-sm-10">
            <h2 class="page-title m-0 f-s-20 f-w-600 m-b-16">
                Dashboard de Recaudacion Vial
            </h2>
            <div class="d-flex align-items-center overflow-hidden">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item ng-start-inserted" tabindex="0">Movimiento de denoninaciones</li>

                </ul> 
                
            </div>
          
        </div>
        <div class="col-sm-2 text-righ position-relative">
            <div class="breadcrumb-icon">
                <img src="/assets/images/backgrounds/boveda_banner.png" alt="breadcrumb" width="140">
            </div>
        </div>
    </div>
</div>