<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex align-items-center mb-3">
      <div class="tab-header">
        <span *ngFor="let estado of estados" 
                class="tab-btn" 
                [class.active]="selectedTab === estado.Id" 
                (click)="setTab(estado.Id)">
          {{ estado.Nombre }}
      </span>
      </div>
    </div>
    <!-- Centrar los elementos de la tabla-->
    <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0" style="width: 140px;">
                        Nombre
                    </th>
                    <td mat-cell *matCellDef="let element" class="p-l-0">
                        <div class="d-flex align-items-center">
                            <img src="/assets/images/profile/user-4.jpg" alt="users" width="48" class="rounded">
                            <div class="m-l-12">
                                <h6 class="f-s-14 f-w-600">{{element.nombreCajero}}</h6>
                            </div>
                        </div>
                    </td>
                </ng-container>                
                <!-- Symbol Column -->
                 <ng-container matColumnDef="via">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                        Via
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.via??'0' }}
                    </td>
                </ng-container>

                 <!-- Symbol Column -->
                 <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14" style="width: 140px;">
                        Fecha asignados
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.fecha??'0' }}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="turno">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                        Turno
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.turno }}
                    </td>
                </ng-container>
                 <ng-container matColumnDef="grupo">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                        Grupo
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.grupo}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones" *ngIf="!isSettings">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                        Acciones
                    </th>
                    <td mat-cell *matCellDef="let element" class="p-0" >
                        <div class="d-flex flex-sm-row flex-col align-items-center justify-content-center gap-8">
                            <button mat-mini-fab class="bg-primary text-white" (click)="getTransacctions(element.id)" aria-label="Example icon button with a delete icon">
                                <i-tabler class="icon-20 d-flex" name="transfer"></i-tabler>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones" *ngIf="isSettings">
                    <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                        Acciones
                    </th>
                    <td mat-cell *matCellDef="let element" class="p-0" >
                        <div class="d-flex flex-sm-row flex-col align-items-center justify-content-center gap-8">
                            <button mat-mini-fab [matMenuTriggerFor]="menu" class="bg-warning text-white" aria-label="Example icon button with a delete icon">
                                <i-tabler class="icon-20 d-flex" name="settings"></i-tabler>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openTurnoDetail(element)" >Editar</button>
                                <button mat-menu-item >Eliminar</button>

                            </mat-menu>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator 
             [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
               
            </mat-paginator>
        </div>
  </mat-card-content>
</mat-card>