/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

.breadcrumb-icon{
  position: absolute;
  top: -20px;
  right: 19px;
  text-align: right;
  
}

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background 0.2s;

  &:hover {
    background: rgba(0,0,0,0.05);
  }

  i-tabler {
    width: 20px;
    height: 20px;
    stroke: #555;
  }
}
.pdf-toolbar {
  display: flex;
  flex-direction: row; /* <-- HORIZONTAL */
  align-items: center; /* Verticalmente centrados */
  gap: 8px; /* Separación entre botones */
  margin-bottom: 10px; /* Un poco de espacio debajo si quieres */
}

.tab-header {
  display: flex;
  gap: 32px;
}
.tab-btn {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}
.tab-btn.active {
  border-bottom: 2px solid #398bf7;
  color: #398bf7;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr'
